{
  "openapi": "3.1.0",
  "info": {
    "title": "Flow API",
    "description": "Content-addressing backend with Git-like versioning",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.yertle.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health Check",
        "description": "Basic health check endpoint.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Readiness Check",
        "description": "Readiness check including database connectivity.",
        "operationId": "readiness_check_health_ready_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health/live": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Liveness Check",
        "description": "Liveness check for container orchestration.",
        "operationId": "liveness_check_health_live_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LivenessCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/signin": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Sign In",
        "description": "Sign in a user and return authentication tokens.\n\nDeprecated for API-consumer use \u2014 use Personal Access Tokens instead.\nRetained for local dev where there is no Cognito to hit.",
        "operationId": "sign_in_auth_signin_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Sign Up",
        "description": "Sign up a new user.\n\nDeprecated for API-consumer use \u2014 production accounts are provisioned\nby admin or via Amplify signup direct-to-Cognito. Retained for local\ndev where the frontend's local-mode signup flow (AuthForm.js) creates\ntest users through LocalAuthService.",
        "operationId": "sign_up_auth_signup_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignUpResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orgs": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "List Organizations",
        "description": "List organizations for the current user.",
        "operationId": "list_organizations_orgs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "Create Organization",
        "description": "Create a new organization.",
        "operationId": "create_organization_orgs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "Get Organization",
        "description": "Get organization details.",
        "operationId": "get_organization_orgs__org_id__get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "organizations"
        ],
        "summary": "Update Organization",
        "description": "Update an organization's name and/or description. Owner only.",
        "operationId": "update_organization_orgs__org_id__patch",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "organizations"
        ],
        "summary": "Delete Organization",
        "description": "Delete an organization and all its data.\n\nOnly organization owners can delete. This permanently removes:\n- All nodes and their commit histories\n- All branches, pull requests, and objects\n- All projection data (tags, connections, visual properties)\n- All organization memberships, invite links, and allowed emails",
        "operationId": "delete_organization_orgs__org_id__delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletionResultResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/settings": {
      "patch": {
        "tags": [
          "organizations"
        ],
        "summary": "Update Org Settings",
        "description": "Update organization settings. Owner only.",
        "operationId": "update_org_settings_orgs__org_id__settings_patch",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSettingsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/members": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "Add Member",
        "description": "Add an existing user to the organization with a specific role.\n\nThe invoker must be an **owner** of the organization. The target\n`user_id` must already exist in Yertle \u2014 this endpoint does not\ncreate users (use the `/invitations/accept` flow for that). To add\nsomeone by email instead, issue an invite link.\n\nRole must be one of `owner`, `editor`, or `viewer`.",
        "operationId": "add_member_orgs__org_id__members_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "List Members",
        "description": "List organization members.",
        "operationId": "list_members_orgs__org_id__members_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/members/me": {
      "delete": {
        "tags": [
          "organizations"
        ],
        "summary": "Leave Organization",
        "description": "Current user leaves the organization. Viewers and editors only.\n\nOwners cannot leave \u2014 they must delete the organization or transfer\nownership first.",
        "operationId": "leave_organization_orgs__org_id__members_me_delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/members/{member_user_id}": {
      "delete": {
        "tags": [
          "organizations"
        ],
        "summary": "Remove Member",
        "description": "Remove a member from organization.",
        "operationId": "remove_member_orgs__org_id__members__member_user_id__delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "member_user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Member User Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invitations/details": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "Get Invitation Details",
        "description": "Resolve an invite token to org name and role.\n\nNo authentication required \u2014 used by the frontend to preview\nwhat organization/role an invite link grants.",
        "operationId": "get_invitation_details_invitations_details_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteLinkDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invitations/accept": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "Accept Invitation",
        "description": "Accept an invite link to join an organization.\n\nThe user's email (from JWT claims) is checked against the allowlist\nif the organization is in restricted mode.",
        "operationId": "accept_invitation_invitations_accept_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteAcceptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/invite-links": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "List Invite Links",
        "description": "Get invite links for an organization. Owner only.",
        "operationId": "list_invite_links_orgs__org_id__invite_links_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteLinkListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/invite-links/{link_id}/regenerate": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "Regenerate Invite Link",
        "description": "Regenerate an invite link token. Owner only.\n\nThe old token is invalidated immediately.",
        "operationId": "regenerate_invite_link_orgs__org_id__invite_links__link_id__regenerate_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Link Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteLinkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/allowed-emails": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "List Allowed Emails",
        "description": "Get allowed emails for an organization. Owner only.",
        "operationId": "list_allowed_emails_orgs__org_id__allowed_emails_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedEmailListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "Add Allowed Emails",
        "description": "Add emails to the organization's allowlist. Owner only.",
        "operationId": "add_allowed_emails_orgs__org_id__allowed_emails_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedEmailsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAllowedEmailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/allowed-emails/{email_id}": {
      "delete": {
        "tags": [
          "organizations"
        ],
        "summary": "Delete Allowed Email",
        "description": "Remove an email from the allowlist. Owner only.",
        "operationId": "delete_allowed_email_orgs__org_id__allowed_emails__email_id__delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Email Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/all/directories/tree": {
      "get": {
        "tags": [
          "directories"
        ],
        "summary": "Get All Orgs Directory Tree",
        "description": "Get hierarchical directory structure across all organizations the user is a member of.\n\nThis endpoint is used by the frontend to show a unified directory tree view\nacross all organizations the user has access to.",
        "operationId": "get_all_orgs_directory_tree_orgs_all_directories_tree_get",
        "parameters": [
          {
            "name": "root",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Root path to start tree from",
              "default": "/",
              "title": "Root"
            },
            "description": "Root path to start tree from"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryTreeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/all/directories/contents": {
      "get": {
        "tags": [
          "directories"
        ],
        "summary": "Get Directory Contents Across Orgs",
        "description": "Get node contents within a directory path across all organizations the user is a member of.\n\nThis endpoint is used by the frontend to show actual nodes within a specific directory\nacross all organizations the user has access to.",
        "operationId": "get_directory_contents_across_orgs_orgs_all_directories_contents_get",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Directory path to list contents",
              "default": "/",
              "title": "Path"
            },
            "description": "Directory path to list contents"
          },
          {
            "name": "includeSubdirs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include nodes from subdirectories",
              "default": false,
              "title": "Includesubdirs"
            },
            "description": "Include nodes from subdirectories"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryContentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/directories": {
      "get": {
        "tags": [
          "directories"
        ],
        "summary": "List All Directories",
        "description": "List all directories in organization.",
        "operationId": "list_all_directories_orgs__org_id__nodes_directories_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Prefix"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/directories/contents": {
      "get": {
        "tags": [
          "directories"
        ],
        "summary": "Get Org Directory Contents",
        "description": "Get node contents within a directory path for a specific organization.\n\nThis endpoint matches the frontend's expected URL pattern /orgs/{org_id}/directories/contents\nand provides directory contents for a single organization.",
        "operationId": "get_org_directory_contents_orgs__org_id__directories_contents_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Directory path to list contents",
              "default": "/",
              "title": "Path"
            },
            "description": "Directory path to list contents"
          },
          {
            "name": "includeSubdirs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include nodes from subdirectories",
              "default": false,
              "title": "Includesubdirs"
            },
            "description": "Include nodes from subdirectories"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryContentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/directories/tree": {
      "get": {
        "tags": [
          "directories"
        ],
        "summary": "Get Directory Tree",
        "description": "Get hierarchical directory tree structure.",
        "operationId": "get_directory_tree_orgs__org_id__nodes_directories_tree_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryTreeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/all/hierarchy": {
      "get": {
        "tags": [
          "directories"
        ],
        "summary": "Get All Orgs Hierarchy",
        "description": "Get the containment hierarchy across all organizations the user belongs to.\n\nReturns all nodes and their positions in the parent/child ownership\nstructure, scoped to orgs the user is a member of.",
        "operationId": "get_all_orgs_hierarchy_orgs_all_hierarchy_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/hierarchy": {
      "get": {
        "tags": [
          "directories"
        ],
        "summary": "Get Org Hierarchy",
        "description": "Get the containment hierarchy for an organization.\n\nReturns all nodes and their positions in the parent/child ownership\nstructure, without user-assigned directories. Used by the CLI tree command.",
        "operationId": "get_org_hierarchy_orgs__org_id__hierarchy_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/all/nodes": {
      "get": {
        "tags": [
          "nodes"
        ],
        "summary": "List All Nodes Across Orgs",
        "description": "List nodes across all organizations the user is a member of.\n\nThis endpoint is used by the frontend to show a unified view of all\nnodes the user has access to across their organization memberships.",
        "operationId": "list_all_nodes_across_orgs_orgs_all_nodes_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes": {
      "post": {
        "tags": [
          "nodes"
        ],
        "summary": "Create Node",
        "description": "Create a new node in an organization.",
        "operationId": "create_node_orgs__org_id__nodes_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNodeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "nodes"
        ],
        "summary": "List Nodes",
        "description": "List nodes for an organization.",
        "operationId": "list_nodes_orgs__org_id__nodes_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}": {
      "delete": {
        "tags": [
          "nodes"
        ],
        "summary": "Delete Node",
        "description": "Soft delete a node.\n\nMarks the node as deleted in the projection layer so it no longer appears\nin search results, node lists, or directory trees. All git history (commits,\nobjects, branches) is preserved. The node remains visible in parent canvases\nthat contain it.",
        "operationId": "delete_node_orgs__org_id__nodes__node_id__delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletionResultResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/push": {
      "put": {
        "tags": [
          "nodes"
        ],
        "summary": "Push Node State",
        "description": "Git-like full-state push operation.\n\nThis endpoint implements the declarative API where clients send the complete\ndesired state, and the server handles diffing and object reuse automatically.\n\nSimilar to `git push`, the client describes the end state they want, and the\nserver figures out what changed and creates an optimal commit.\n\nFeatures:\n- Automatic object reuse for unchanged content\n- Complete state snapshots in each commit\n- Branch support for collaborative workflows\n- Validation of state schema",
        "operationId": "push_node_state_orgs__org_id__nodes__node_id__tree__branch__push_put",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/head": {
      "get": {
        "tags": [
          "nodes"
        ],
        "summary": "Get Branch Head Commit",
        "description": "Get the HEAD commit hash for a branch (lightweight staleness check).",
        "operationId": "get_branch_head_commit_orgs__org_id__nodes__node_id__tree__branch__head_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchHeadCommitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/complete": {
      "get": {
        "tags": [
          "nodes"
        ],
        "summary": "Get Complete State By Branch",
        "description": "Get complete state for a node at a specific branch for canvas rendering.",
        "operationId": "get_complete_state_by_branch_orgs__org_id__nodes__node_id__tree__branch__complete_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeCompleteStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/canvas": {
      "get": {
        "tags": [
          "nodes"
        ],
        "summary": "Get Canvas State By Branch",
        "description": "Get canvas state for a node at a specific branch with flat structure.\n\nReturns a flat dictionary where keys are node IDs and values are complete\nstate objects. The parent node's child_nodes field contains only child node\nIDs (not nested objects). Each child node gets its own entry in the dictionary.\n\nQuery params:\n    resolve_children: \"latest\" (default) shows children at their current main HEAD.\n                      \"snapshot\" shows children as they were when last pushed.\n    include_related: \"slim\" (default) keeps parent_nodes as stubs and leaves\n                     ingress/egress counterparties unresolved. \"full\" promotes each\n                     parent and each ingress/egress counterparty to its own\n                     top-level entry (mirroring children) and rewrites the root's\n                     parent_nodes field to a list of UUIDs.",
        "operationId": "get_canvas_state_by_branch_orgs__org_id__nodes__node_id__tree__branch__canvas_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          },
          {
            "name": "resolve_children",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(latest|snapshot)$",
              "default": "latest",
              "title": "Resolve Children"
            }
          },
          {
            "name": "include_related",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(slim|full)$",
              "default": "slim",
              "title": "Include Related"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeCanvasStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/search": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Search Nodes",
        "description": "Search nodes with flexible filters.\n\nAccepts a JSON body with optional filter fields: tags, directories,\ntitle_contains, created_by, min/max_children, min/max_parents, etc.\nAll filters are AND-ed together. For tags, tag_match_mode controls\nwhether all tags must match (\"all\") or any tag (\"any\").",
        "operationId": "search_nodes_orgs__org_id__nodes_search_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeSearchFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/search/retrieve": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Retrieve Subgraph",
        "description": "Graph-aware retrieval \u2014 returns ranked node matches for a query,\noptionally with a surrounding subgraph.\n\nPass 1 (FTS today; hybrid when embeddings are enabled) finds entry-\npoint nodes. Pass 2 graph expansion is opt-in via `expansion_depth`:\nthe default `\"none\"` returns only the ranked matches; `\"shallow\"`,\n`\"standard\"`, and `\"deep\"` progressively include children, parents,\nand connection endpoints so agent callers get enough topology to\nreason without N follow-up requests.\n\nSee docs/notes/features/rag/RETRIEVAL_API_PLAN.md.",
        "operationId": "retrieve_subgraph_orgs__org_id__search_retrieve_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/commits": {
      "get": {
        "tags": [
          "node-history"
        ],
        "summary": "Get Commits By Branch",
        "description": "Get commit history for a node at a specific branch.\n\nThis endpoint matches the frontend's expected URL pattern:\n/orgs/{org_id}/nodes/{node_id}/tree/{branch}/commits",
        "operationId": "get_commits_by_branch_orgs__org_id__nodes__node_id__tree__branch__commits_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of commits to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Number of commits to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of commits to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of commits to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitHistoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/history": {
      "get": {
        "tags": [
          "node-history"
        ],
        "summary": "Get Node History",
        "description": "Get commit history for a node.",
        "operationId": "get_node_history_orgs__org_id__nodes__node_id__history_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitHistoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/commits/{commit_id}": {
      "get": {
        "tags": [
          "node-history"
        ],
        "summary": "Get Commit Details",
        "description": "Get detailed information about a specific commit including changes.\n\nSimilar to 'git show <commit>' - returns commit metadata plus the\nchanges introduced by this commit compared to its parent.",
        "operationId": "get_commit_details_orgs__org_id__nodes__node_id__tree__branch__commits__commit_id__get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          },
          {
            "name": "commit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commit Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/diff/{commit_a}..{commit_b}": {
      "get": {
        "tags": [
          "node-history"
        ],
        "summary": "Get Node Diff",
        "description": "Get diff between two commits for a node.",
        "operationId": "get_node_diff_orgs__org_id__nodes__node_id__diff__commit_a____commit_b__get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "commit_a",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commit A"
            }
          },
          {
            "name": "commit_b",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commit B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitDiffResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/commits/{commit_id}/complete": {
      "get": {
        "tags": [
          "node-history"
        ],
        "summary": "Get Complete State At Commit",
        "description": "Get complete state for a node at a specific commit for canvas rendering.\n\nThis endpoint reconstructs the exact state as it was at the specified commit,\nsimilar to 'git checkout <commit>'. It's useful for viewing historical states\nor comparing how the node looked at different points in time.",
        "operationId": "get_complete_state_at_commit_orgs__org_id__nodes__node_id__tree__branch__commits__commit_id__complete_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          },
          {
            "name": "commit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commit Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeCompleteStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/tree/{branch}/commits/{commit_id}/canvas": {
      "get": {
        "tags": [
          "node-history"
        ],
        "summary": "Get Canvas State At Commit",
        "description": "Get canvas state for a node at a specific historical commit with flat structure.\n\nReturns a flat dictionary where keys are node IDs and values are complete\nstate objects. The parent node's child_nodes field contains only child node\nIDs (not nested objects). Each child node gets its own entry in the dictionary.\n\nThis endpoint is used for viewing historical canvas states - the canvas as it\nexisted at a specific point in time.\n\nQuery params:\n    resolve_children: \"latest\" (default) shows children at their current main HEAD.\n                      \"snapshot\" shows children as they were when this commit was pushed.\n    include_related: \"slim\" (default) leaves parents/ingress/egress as stubs.\n                     \"full\" also adds each related node as its own top-level entry\n                     (parents from main; ingress/egress are typically empty for\n                     non-main commit-history reads) and rewrites the root's\n                     parent_nodes to a list of UUIDs.",
        "operationId": "get_canvas_state_at_commit_orgs__org_id__nodes__node_id__tree__branch__commits__commit_id__canvas_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          },
          {
            "name": "commit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commit Id"
            }
          },
          {
            "name": "resolve_children",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(latest|snapshot)$",
              "default": "latest",
              "title": "Resolve Children"
            }
          },
          {
            "name": "include_related",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(slim|full)$",
              "default": "slim",
              "title": "Include Related"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeCanvasStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/branches": {
      "post": {
        "tags": [
          "branches"
        ],
        "summary": "Create Branch",
        "description": "Create a new branch for a node, forked from an existing branch.\n\nThe new branch starts at the head commit of `base_branch` (defaults to\n`main` if not provided) so subsequent pushes build on that history.\n\nRequires **editor** or **owner** role on the organization \u2014 viewers cannot\ncreate branches.",
        "operationId": "create_branch_orgs__org_id__nodes__node_id__branches_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBranchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "branches"
        ],
        "summary": "List Branches",
        "description": "List all branches for a node.\n\nReturns each branch with its head commit, base branch, latest commit\nmessage, and last-activity timestamp \u2014 enough to power a branch picker\nor a \"recent branches\" view without follow-up requests.",
        "operationId": "list_branches_orgs__org_id__nodes__node_id__branches_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/branches/diff/{source_branch}..{target_branch}": {
      "get": {
        "tags": [
          "branches"
        ],
        "summary": "Compare Branches",
        "description": "Compare two branches to preview a potential pull request.\n\nReports whether the source branch can be fast-forward merged into the\ntarget, how many commits the source is ahead/behind, and whether any\nconflicts would arise. Typically called by the UI before opening a PR\nso the author can see what the merge would do.\n\nBranches are identified in the URL as `{source_branch}..{target_branch}`,\nmatching `git diff` syntax.",
        "operationId": "compare_branches_orgs__org_id__nodes__node_id__branches_diff__source_branch____target_branch__get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "source_branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Branch"
            }
          },
          {
            "name": "target_branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Target Branch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchComparisonResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/branches/{branch_name}": {
      "delete": {
        "tags": [
          "branches"
        ],
        "summary": "Delete Branch",
        "description": "Delete a branch from a node.\n\nSafe by default: the branch must be merged into `main` (or have an open\nPR that was merged) before deletion is allowed. Pass `force=true` to\ndelete an unmerged branch, which discards any commits unique to it.\n\nThe `main` branch cannot be deleted.\n\nRequires **editor** or **owner** role on the organization \u2014 viewers\ncannot delete branches.",
        "operationId": "delete_branch_orgs__org_id__nodes__node_id__branches__branch_name__delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch Name"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Force"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/pull-requests": {
      "post": {
        "tags": [
          "pull-requests"
        ],
        "summary": "Create Pull Request",
        "description": "Create a new pull request from one branch into another.\n\nYertle's merge model is **fast-forward only** \u2014 the source branch must\nbe a strict descendant of the target for the PR to be mergeable. You\ncan still open a PR that can't currently fast-forward; the UI will\nsurface the conflict and the author can rebase before merging.\n\nSet `is_draft=true` for a work-in-progress PR that cannot be merged\nuntil promoted to ready. The PR number is auto-assigned per node and\nreturned in the response.",
        "operationId": "create_pull_request_orgs__org_id__nodes__node_id__pull_requests_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePRRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePRResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "pull-requests"
        ],
        "summary": "List Pull Requests",
        "description": "List pull requests for a node.\n\nResults are ordered newest-first and can be filtered by state via\n`status=open|merged|closed`. Supports `limit`/`offset` pagination\n(limit is capped at 100).",
        "operationId": "list_pull_requests_orgs__org_id__nodes__node_id__pull_requests_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by status (open, merged, closed)",
              "title": "Status"
            },
            "description": "Filter by status (open, merged, closed)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Max number of results",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max number of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPRResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/pull-requests/{pr_number}": {
      "get": {
        "tags": [
          "pull-requests"
        ],
        "summary": "Get Pull Request",
        "description": "Fetch a single pull request along with its current merge status.\n\nAugments the stored PR with live computed fields: whether it can be\nmerged right now (fast-forward check), a reason string if it cannot,\nand how many commits the source branch is ahead of the target. Those\nfields are re-derived on each call so the UI always reflects current\nbranch state.\n\n`pr_number` is the per-node PR number (not the internal UUID).",
        "operationId": "get_pull_request_orgs__org_id__nodes__node_id__pull_requests__pr_number__get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "pr_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Pr Number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PRDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/pull-requests/{pr_number}/merge": {
      "post": {
        "tags": [
          "pull-requests"
        ],
        "summary": "Merge Pull Request",
        "description": "Merge a pull request into its target branch.\n\nYertle only supports **fast-forward merges**: the target branch is\nadvanced to the source branch's head commit \u2014 no merge commit is\ncreated, history stays linear. If a fast-forward is not possible\n(target has diverged), the call fails with 400 and the author must\nrebase the source branch before retrying.\n\nOn success, the PR is marked merged and the returned `merge_commit`\nis the same commit as the source branch's head at merge time.",
        "operationId": "merge_pull_request_orgs__org_id__nodes__node_id__pull_requests__pr_number__merge_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "pr_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Pr Number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergePRResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/nodes/{node_id}/pull-requests/{pr_number}/close": {
      "post": {
        "tags": [
          "pull-requests"
        ],
        "summary": "Close Pull Request",
        "description": "Close a pull request without merging it.\n\nMarks the PR as closed and is reversible only by opening a new PR \u2014\na closed PR cannot be reopened. The source branch is left intact\n(delete it separately via `DELETE \u2026/branches/{name}` if desired).",
        "operationId": "close_pull_request_orgs__org_id__nodes__node_id__pull_requests__pr_number__close_post",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "pr_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Pr Number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PRDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/all/graph": {
      "get": {
        "tags": [
          "graph"
        ],
        "summary": "Get All Orgs Graph",
        "description": "Get graph across all organizations the user is a member of.",
        "operationId": "get_all_orgs_graph_orgs_all_graph_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgGraphResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_id}/graph": {
      "get": {
        "tags": [
          "graph"
        ],
        "summary": "Get Org Graph",
        "description": "Get the complete org graph for the visualization map.",
        "operationId": "get_org_graph_orgs__org_id__graph_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgGraphResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/contact-messages": {
      "post": {
        "tags": [
          "contact-messages"
        ],
        "summary": "Create Contact Message",
        "description": "Submit a contact message. No authentication required.",
        "operationId": "create_contact_message_contact_messages_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/new-signup": {
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Notify New Signup",
        "description": "Publish a signup notification. Email comes from JWT, not request body.",
        "operationId": "notify_new_signup_notifications_new_signup_post",
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifyNewSignupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tokens": {
      "post": {
        "tags": [
          "tokens"
        ],
        "summary": "Create a personal access token",
        "description": "Issue a new personal access token.\n\nThe raw token is returned **exactly once** in the response. Save it\nimmediately \u2014 it cannot be retrieved again.",
        "operationId": "create_token_tokens_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedTokenResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tokens"
        ],
        "summary": "List the caller's personal access tokens",
        "description": "List the caller's tokens. Excludes revoked tokens unless `include_revoked=true`.",
        "operationId": "list_tokens_tokens_get",
        "parameters": [
          {
            "name": "include_revoked",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Revoked"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tokens/{token_id}": {
      "delete": {
        "tags": [
          "tokens"
        ],
        "summary": "Revoke a personal access token",
        "description": "Soft-revoke the token. Subsequent auth attempts with it will fail with 401.",
        "operationId": "revoke_token_tokens__token_id__delete",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/public/orgs/{org_id}/graph": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Get Public Org Graph",
        "description": "Anonymous read of the org graph for a published org.",
        "operationId": "get_public_org_graph_public_orgs__org_id__graph_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgGraphResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/public/orgs/{org_id}/nodes": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Get Public Org Nodes",
        "description": "Anonymous read of all nodes in a published org.",
        "operationId": "get_public_org_nodes_public_orgs__org_id__nodes_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/public/orgs/{org_id}/nodes/{node_id}/tree/{branch}/complete": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Get Public Complete State",
        "description": "Anonymous read of complete node state at the branch HEAD.",
        "operationId": "get_public_complete_state_public_orgs__org_id__nodes__node_id__tree__branch__complete_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Org Id"
            }
          },
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Node Id"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeCompleteStateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/public/orgs/{org_id}/nodes/{node_id}/tree/{branch}/commits/{commit_id}/complete": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Get Public Complete State At Commit",
        "description": "Anonymous read of node state at a specific commit (historical).",
        "operationId": "get_public_complete_state_at_commit_public_orgs__org_id__nodes__node_id__tree__branch__commits__commit_id__complete_get",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
[...]
